<po-container>
    <table width="100%">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let employee of employees">
                <ng-container *ngIf="employee.salario > 100">
                    <td>{{employee.nome}}</td>
                    <!-- <td [style.color]="employee.salary>100? 'green  ' : 'red'">{{employee.salary}}</td> -->
                    <td [SalaryColor]="employee.salario">{{ employee.salario | currency:'BRL':'symbol-narrow':'0.2-2' }}</td>
                    <td *ngIf="employee.bonus > 100 "> {{employee.bonus}} </td>
                </ng-container>
            </tr>

        </tbody>
    </table>
</po-container>
<br>
<po-container>
    <po-table
        [p-columns]="columns"
        [p-items]="employees"   
    >

    <ng-template p-table-cell-template let-column="column" let-row="row">
        <div *ngIf="column.property === 'nome'">
          <span [style.background]="'green'">{{row.nome}}</span>
        </div>
    </ng-template>
      
    </po-table>
</po-container>