<po-container>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.name}}</td>
                <!-- <td [style.color]="employee.salary>100? 'green  ' : 'red'">{{employee.salary}}</td> -->
                <td [SalaryColor]="employee.salary">{{employee.salary}}</td>
                <td *ngIf="employee.bonus > 100 "> {{employee.bonus}} </td>
            </tr>
        </tbody>
    </table>
</po-container>
<br>
<po-container>
    <po-table
        [p-columns]="columns"
        [p-items]="employees"   
    >

    <ng-template p-table-cell-template let-column="column" let-row="row">
        <div *ngIf="column.property === 'name'">
          <h1 [style.background]="'red'">{{row.name}}</h1>
        </div>
    </ng-template>
      
    </po-table>
</po-container>