<modal-title>
    <h4> Cadastro de Employee </h4>
</modal-title>

<form (submit)="addEmployee($event)">
  <modal-body>
      <div>
        <label for="name">Nome:</label>
        <input class="form-control" type="text" name="name" [(ngModel)]="employee.name" #inputName><br>

        <label for="salary">Salario:</label>
        <input class="form-control" type="text" name="salary" [(ngModel)]="employee.salary"><br>

        <label for="bonus">Bonus:</label>
        <input class="form-control" type="text" name="bonus" [(ngModel)]="employee.bonus"><br>
      </div>
  </modal-body>

  <modal-footer>

    <div>
        <button class="btn" type="submit">Add</button>
    </div>

  </modal-footer>
</form>
