<form (submit)="addFuncionario(funcionario)">
  <app-modal>
    <h5 class="modal-title" modal-title>Identificação Funcionário</h5>

      <div class="modal-body" modal-body>
        <label for="name">Nome:</label>
        <input class="form-control" type="text" name="nome" [(ngModel)]="funcionario.nome">
        <label for="cpf">CPF:</label>
        <input class="form-control" type="text" name="cpf" [(ngModel)]="funcionario.cpf">
        <label for="celular">Celular:</label>
        <input class="form-control" type="text" name="celular" [(ngModel)]="funcionario.celular">
        <label for="salario">Salario:</label>
        <input class="form-control" type="text" name="salario" [(ngModel)]="funcionario.salario">
        <label for="bonus">bonus:</label>
        <input class="form-control" type="text" name="bonus" [(ngModel)]="funcionario.bonus">
      </div>

      <div class="modal-footer" modal-footer>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </div>
  </app-modal>

</form>